{% extends 'base.html.twig' %}

{% block Accueil %}Organigramme
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

		<h1>Fiche membre de l'équipe</h1>

<img src="/images/{{user.photo}}" alt="{{user.photo}}" width="200px">

<p> Nom Prénom : {{user.firstname}} {{user.lastname}} <br></p>
<p> Profession :{{user.label}} <br> </p>
<p> Age :	{{user.age}} ans	<br></p>
<p> Téléphone :    {{user.tel}}<br></p>
<p> Mail :    {{user.mail}}<br></p>
<p> Adresse :   {{user.adresse}}<br></p>

<button type="button"><a href="/team/organigramme"> Retour<a/> </button>



</div>{% endblock %}
