{% extends 'base.html.twig' %}

{% block Accueil %}Organigramme
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

		<h1>Organigramme de l'équipe</h1>
		<p>

			{% for user in users  %}

				{% for place in hierarchie %}
					{# On compte le nombre de supérieur hiérarchique avec loop.index dans la boucle en cours #}
					{% set i = loop.index %}

					{% if user.supHierarchique ==   place %}
						{# On fait une boucle for i pour auto incrémenter les &nbsp;  #}
						{% for j in 1.. i %}
							&nbsp;	&nbsp;
						{% endfor %}

						{{user.id}}
						{{user.firstname}}
						{{user.lastname}}
						({{user.label}})
						<br>

					{% endif %}
				{% endfor %}

			{% endfor %}
		</p>

		<h2>Organigramme de l'équipe ordonnée</h2>

		<p>
			{% for resultat in result %}

				{% for keys,value in level %}

					{% if resultat == keys %}
						{% for i in 0.. value %}
							&nbsp;	&nbsp;
						{% endfor %}
						{{resultat}}<br>

					{% endif %}


				{% endfor %}
			{% endfor %}
		</p>


	</div>
{% endblock %}
